* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #DAC8B3;
    color: #392620;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #392620;
}

.logo {
    font-size: 24px;
    color: #DAC8B3;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #DAC8B3;
    font-size: 18px;
}

.hero {
    position: relative;
    height: 400px;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #392620;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #392620;
}

.specialty {
    padding: 50px 20px;
    background-color: #DAC8B3;
}

.specialty h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.card .btn {
    display: inline-block;
    background-color: #392620;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
}

/* Responsividade */
@media (max-width: 768px) {
    header .logo h1 {
        font-size: 2.5rem;
    }

    header nav ul {
        flex-direction: column;
        margin-top: 30px;
    }

    header nav ul li {
        margin-bottom: 15px;
    }

    section {
        padding: 30px;
    }

    section h2 {
        font-size: 2rem;
    }

    section p {
        font-size: 1rem;
    }
}
